<div class = "password_forgot_zentai">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">

  <div class="password_forgot">パスワードを再発行します</div>

  <div class ="password_forgot_box">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field_name">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, autofocus: true , class: "input-data" %>
        </div>

      <div class="field_name2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "input-data"%>
      </div>

      <div class="actions">
        <%= f.submit "パスワードを再発行します",class: "password_reset" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
